extends ../layout

block content
  .container(style="margin-top:10vh")
    .blog-post.single-post
      .comment-section
        form.comment-form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          h2 Completar los datos adicionales para continuar con la compra
          //- input#mail(name='mail' type='text' placeholder='Email (required)')
          //- input#website(name='website' type='text' placeholder='Website')
          input#name(name='address' type='text' placeholder='Dirección' required)
          //- input#name(name='quantity' type='text' oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder='Cantidad por defecto es 1')
          textarea(name='reference' placeholder='Deja una referencia')
          //- input(type='submit' value='Guardar dirección')
          script(src='https://www.mercadopago.com.pe/integrations/v1/web-tokenize-checkout.js' data-public-key='TEST-2264a6ec-1d58-4e9a-bbee-a610f533c0eb' data-transaction-amount=commentary.price)

