extends ../layout

block content
  #content
    section
      .container
        .title-section
          h1 Mis #{user.userType=="USER_ROLE"?'compras':'ventas'}
          span
    section.blog-section.grid#all-products(data-array=purchases)
      .container
        .products-box(v-if="displayArr && displayArr.length>0")
          .row
            .col-md-4(style="margin-top: 17px;" v-for="(p, index) in displayArr" :key="index")
              .product-post
                h2.mb-2
                  a(:href="'/post/'+p.post._id+'/detalle'") {{p.post.title}}
                p(v-if="p.score == 0")
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                p(v-else-if="p.score == 1")
                  i.fa.fa-star
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                p(v-else-if="p.score == 2")
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                p(v-else-if="p.score == 3")
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                p(v-else-if="p.score == 4")
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                p(v-else-if="p.score == 5")
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                p(v-else)
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                span S/ {{p.amount}}.00
                  .gal-product
                    img(:src="p.post.image && p.post.image!=''?p.post.image:'/upload/shop/9.jpg'" alt='')
                  .product-links
                    a(data-toggle='modal' :data-target="'#score-modal-'+index" style="cursor:pointer;")
                      i.fa.fa-heart(style="margin-right: 0.5em") 
                      | Calificar
              .modal.fade(:id="'score-modal-'+index" tabindex='-1' aria-hidden='true')
                .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                  form(:action="'/post/calificar-compra/'+p._id" method="POST").modal-content
                    input(type='hidden', name='_csrf', value=_csrf)
                    .modal-header
                      .col-12.p-0.text-center
                        h5#exampleModalLongTitle.modal-title Puntúa la publicación:  {{p.post.title}}
                    .modal-body
                      .col-12
                        .rating
                          input(:id="'score5-'+p._id" type='radio' :name="'score-'+p._id" value='5')
                          label(for='5') &star;
                          input(:id="'score4-'+p._id" type='radio' :name="'score-'+p._id" value='4')
                          label(for='4') &star;
                          input(:id="'score3-'+p._id" type='radio' :name="'score-'+p._id" value='3')
                          label(for='3') &star;
                          input(:id="'score2-'+p._id" type='radio' :name="'score-'+p._id" value='2')
                          label(for='2') &star;
                          input(:id="'score1-'+p._id" type='radio' :name="'score-'+p._id" value='1')
                          label(for='1') &star;
                    .modal-footer
                      .col-12.p-0.text-center
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='submit') Puntuar
        .title-section(v-else)
            h2.text-muted Aún no tienes publicaciones
        ul.pagination-list(v-if="pages && pages.length>0")
          li
            a.prev-pag(v-if="page != 1" @click="page--")
              i.fa.fa-chevron-left
              |  prev
          li
            a(v-for="pageNumber in pages.slice(page-1, page+3)" @click="page = pageNumber" :class="page==pageNumber?'active':''" :key="pageNumber") {{pageNumber}}
          li
            a.next-pag(@click="page++" v-if="page < pages.length")
              | next 
              i.fa.fa-chevron-right
          